*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans';
} 

  /* Base styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 768px) {
    .content {
      padding: 10px;
    }
  }
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }

  /* Media query for even smaller screens */
  @media (max-width: 480px) {
    body {
      font-size: 12px;
    }
  }

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(Images/BlackBgPic.png);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
} 
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transform: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: transform .5s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.Newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;

}
.Newslatter  form {
    display: inline-block;
    width: 1=30%;
    padding: 14px 0px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.Newslatter  form button a{
    text-decoration: none;
    color: white;
}

.about{
    width: 100%;
    padding: 100px 0cqb;
    background-color: #171414;
}

.aobut img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 530px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    margin-left: 40px;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: #fcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 35px;
    width: 800px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.card{
    height: 905px;
    width: 885px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;


}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 10px;
}

.card .button{
    background-color: #f9004d;
    color: #fcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;   
}
.contact-details{
    color: white;
    font-size: 18px;
}
.contact-me .button-two{
    background-color: #f9004d;
    color: #fcfc;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
} 
footer{
    position: relative;
    width: 100%;
    height: 240px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
} 
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 400px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 3px;
    font-size: 14px;
}


